/* -----------------------------------------header start */
/* ----------------------------------------------로고*/
#tap-nav header h1 {}
#tap-nav header h1 a {}
#tap-nav header h1 a img {}

/* ----------------------------------------------nav영역 */
#tap-nav {}
#tap-nav header {
    position: relative;
    width: 100%;
    height: 76px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between; /* h1과 right_menu 양끝 정렬 */
    align-items: center;
}
#tap-nav header nav {
    position: absolute; left: 50%; top:0;/* 화면의 중앙 */
    transform: translateX(-50%);
    display:flex;
    align-items:center;
}
/* 헤더 전체 그룹 */
#tap-nav header nav .gnb {
    display:flex;
    width:max-content;
}
/* 카테고리 그룹 */
#tap-nav header nav .gnb > li {background-color: yellowgreen;}
#tap-nav header nav .gnb > li a {
    background-color:red;
    padding:25px;
    line-height:76px;
    font-size:1.063rem;
    font-weight:500;
}
/* lnb그룹 */
#tap-nav header nav .gnb > li .lnb_bg {
    height:342px;
    display:none;
    position:absolute; top:76px; left:50%;/* 시작 위치 설정 */
    background-color: aquamarine;
    /* background:rgba(255,255,255,0.8); */
    transform: translateX(-50%);
    z-index:999;
}
#tap-nav header nav .gnb > li:hover .lnb_bg{display:block;}
/* 목록전체 */
#tap-nav header nav .gnb > li .lnb_bg .lnb_depth1 {
    display:flex;/* 정렬하고 싶은 대상(li)의 부모(ul)에게 flex를 선언한다. */
    justify-content:center;
    width:max-content;/* 내용의 최대 크기에 맞추겠다. | 피그마 Hug */
    padding: 30px auto;
    gap: 60px;
    text-align:center;/* 글자 가운데 정렬 */
}
#tap-nav header nav .gnb > li .lnb_bg .lnb_depth1 > li {}
#tap-nav header nav .gnb > li .lnb_bg .lnb_depth1 > li > a {padding: 0;}
/* 종류 */
#tap-nav header nav .gnb > li .lnb_bg .lnb_depth1 > li > .lnb_depth2 {}
#tap-nav header nav .gnb > li .lnb_bg .lnb_depth1 > li > .lnb_depth2 li {}
#tap-nav header nav .gnb > li .lnb_bg .lnb_depth1 > li > .lnb_depth2 li a {
    padding:0;
    line-height:0;
    font-size:1rem;
    font-weight:400;
}

/* --------------------------------------------------오른쪽 lnb */
#tap-nav header .right_menu {
    display:flex;
    align-items:center;
}
#tap-nav header .right_menu li {
    display:flex;
    align-items: center;
    margin-right:17px;
}
/* 검색 */
#tap-nav header .right_menu li:first-child {
    background:#ededed;
    padding:5px 10px;;
}
#tap-nav header .right_menu li #product_name {
    background:none;
    width: 131px;
    margin-right:10px;
    font-size:0.814rem;
}
#tap-nav header .right_menu li:first-child a {}
#tap-nav header .right_menu li:first-child a img {}
/* 로그인 */
#tap-nav header .right_menu li #login {
    font-size:0.875rem;
}
#tap-nav header .right_menu li:nth-child(2)::after {
    content: '|';
    margin-left:17px;
}
/* 회원가입 */
#tap-nav header .right_menu li #join {
    font-size:0.875rem;
}
#tap-nav header .right_menu li:nth-child(3)::after {
    content: '|';
    margin-left:17px;
}
/* 장바구니 */
#tap-nav header .right_menu li:last-child {margin-right:0;}
#tap-nav header .right_menu li #cart {
    display:flex;
    align-items:center;
}
#tap-nav header .right_menu li #cart span {}
#tap-nav header .right_menu li #cart img {margin-left:5px;}

/* -----------------------------------------header end */

/* -----------------------------------------footer start */
footer {display:flex; justify-content:space-between; padding:60px 70px; background:#F9F9F9; display:none;}
/* 왼쪽 */
footer .left {width:433px;}
footer .left .user-info {margin-bottom:25px;}
footer .left .user-info h5 {font-weight:600; margin-bottom:10px;}
footer .left .user-info p {line-height:1.7; font-size:0.75rem; font-weight:300;}
footer .left .follow-us {}
footer .left .follow-us h5 {font-weight:600; margin-bottom:10px;}
footer .left .follow-us a {margin-right:13px;}
footer .left .follow-us a img {}
/* 센터 */
footer .center {width:972px; display:flex; justify-content:space-between; margin:0 100px;}
footer .center li {display:flex; flex-flow: column nowrap;}
footer .center li h5 {font-weight:600;  margin-bottom:23px;}
footer .center li a {font-size:0.875rem; margin-bottom:16px;}
/* 오른쪽 */
footer .right {display:flex; flex-flow: column nowrap; justify-content: right;}
footer .right h5 {font-weight:600;}
footer .right #google-play {height:55px; margin:10px 0;}
footer .right #app-store {height:55px;}
/* -----------------------------------------footer end */