/* index.css 메인화면 작업 */
/* header */
body, html {margin:0; padding:0;}
/* -----------------------------------------header start */
header {
    position:relative;
    max-width:100%;
    min-width:1200px;
    height:76px;
    padding:0 70px;
    display:flex; justify-content:space-between;
    align-items:center;
}
/* 로고*/
header h1 {
    
}
header h1 a {}
header h1 a img {}
/* nav 중앙메뉴 */
header nav {position: absolute; left: 50%; transform: translateX(-50%);}
header nav .gnb {
    display:flex;
}
header nav .gnb > li {
    
}
header nav .gnb > li > a {
    padding:25px;
    line-height:76px;
    font-size:1.063rem;
    font-weight:500;
}
/* 회원정보(검색, 로그인, 회원가입, 장바구니) */
header .right_menu {
    display:flex;
    align-items:center;
}
header .right_menu li {
    display:flex;
    align-items: center;
    margin-right:17px;
}
/* 검색 */
header .right_menu li:first-child {
    background:#ededed;
    padding:5px 10px;;
}
header .right_menu li #product_name {
    background:none;
    width: 131px;
    margin-right:10px;
    font-size:0.814rem;
}
header .right_menu li:first-child a {}
header .right_menu li:first-child a img {}
/* 로그인 */
header .right_menu li #login {
    font-size:0.875rem;
}
header .right_menu li:nth-child(2)::after {
    content: '|';
    margin-left:17px;
}
/* 회원가입 */
header .right_menu li #join {
    font-size:0.875rem;
}
header .right_menu li:nth-child(3)::after {
    content: '|';
    margin-left:17px;
}
/* 장바구니 */
header .right_menu li:last-child {margin-right:0;}
header .right_menu li #cart {
    display:flex;
    align-items:center;
}
header .right_menu li #cart span {}
header .right_menu li #cart img {margin-left:5px;}
/* -----------------------------------------header end */

/* -----------------------------------------main start */
/* ------------------------1행*/
#ad {position:relative; margin:0 70px;}
#best {width:100%; height:768px;}
#best .swiper-wrapper {}
#best .swiper-wrapper .swiper-slide {
    display:flex;
    flex-flow:column nowrap;/* 요소의 방향 위 -> 아래 */
    justify-content:center;/* 세로중앙 정렬 */
    align-items:center;/* 가로중앙 정렬 */
}
#best .swiper-wrapper .swiper-slide h2 {
    font-weight:700;
    font-size:2.813rem;
    margin:16px;
}
#best .swiper-wrapper .swiper-slide p {
    font-size:1.25rem;
}
#best .swiper-wrapper .swiper-slide img {
    margin-top:88px;
}
#best .swiper-wrapper .ad1 {background:url(../images/img_ad_001.png);}
#best .swiper-wrapper .ad2 {background:url(../images/img_ad_002.jpg);}
#best .swiper-wrapper .ad3 {background-color:pink;}
#best .swiper-wrapper .ad4 {background-color:green;}
/* 화살표 좌 우 방향 작성 */
#best .swiper-button-prev {background:url(../images/icon_left.png);}
#best .swiper-button-next {background:url(../images/icon_right.png);}
#best .swiper-button-prev,
#best .swiper-button-next {
    width:50px; height:50px;
    position:absolute;
}
#best .swiper-button-prev::after,
#best .swiper-button-next::after {display:none;}

/* -----------------------2행,6행,7행 */

h3 {font-size:2.375rem; font-weight:700;}
#new, #kids, #sale {text-align:center; padding:100px 0;}
/* 카테고리 영역 */
.category {display:flex; justify-content:center; margin:40px auto;}
.category .gender {
    padding:10px 20px;
    background-color:green;
}
.category .gender:hover {
    border-bottom:2px solid #000;
}
/* more버튼 영역 */
.more {
    line-height:39px;
    padding:12px 33px;
    border:1px solid #000;
    font-size:0.938rem;
}

.category .man {}
.category .girl {}
.category .kize {}
.category .sports {}
/* 상품 스와이프 영역 */
.container {}

/* 보이는 공통 영역 */
.container .swiper {/* 보이는 영역 */}

/* 보이는 개별 영역 */
.container .man_swiper {/* 보이는 영역 */}
.container .girl_swiper {display:none;/* 보이는 영역 */}
.container .kids_swiper {display:none;/* 보이는 영역 */}
.container .sports_swiper {display:none;/* 보이는 영역 */}

/* 제품 슬라이드 영역 */
.container .swiper .swiper-wrapper {
    /* 제품 묶음 */
    gap:15px;
}
.container .swiper .swiper-wrapper .swiper-slide {
    /* 공통제품 */
    width:360px;
}

/* 상품 제품 개별 */
.container .swiper .swiper-wrapper .slide1 {margin-left:70px;/* 제품 */}
.container .swiper .swiper-wrapper .slide2 {/* 제품 */}
.container .swiper .swiper-wrapper .slide3 {/* 제품 */}
.container .swiper .swiper-wrapper .slide4 {/* 제품 */}
.container .swiper .swiper-wrapper .slide5 {/* 제품 */}
.container .swiper .swiper-wrapper .slide6 {/* 제품 */}
.container .swiper .swiper-wrapper .slide7 {/* 제품 */}

/* 제품 이미지 그룹 */
.container .swiper .swiper-wrapper .swiper-slide .pd_img {
    margin-bottom:15px;
    position:relative;
}
.container .swiper .swiper-wrapper .swiper-slide .pd_img  {
    width:360px; height:360px;
}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .new {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3642B8;
    color: #fff;
    font-size: 0.7rem;
    padding: 7px 15px;
}
.container .swiper .swiper-wrapper .swiper-slide .pd_img a{}
.container .swiper .swiper-wrapper .swiper-slide .pd_img a img {
    width:100%;
}

/* 컬러 그룹 */
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors {
    position: absolute;
    display: flex;
    gap: 7px;
    left: 14px;
    bottom: 14px;
}
/* 컬러 공통 */
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors .circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
/* 컬러 개별 */
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors .black {background-color: #000;}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors .blue {background-color: #0070B1;}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors .gray {background-color: #aaa;}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors .red {background-color: #e00;}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors .white {background-color: #fff; border:1px solid #000;}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors .green {background-color: #00883F;}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors .purple {background-color: #7C3380;}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors .pink {background-color: #E30076;}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors .beige {background-color: #C9C0AA;}

/* 장바구니 버튼 */
.container .swiper .swiper-wrapper .swiper-slide .pd_img .cart-btn {
    width:40px; height:40px;
    position:absolute;
    bottom: 14px;
    right: 14px;
}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .cart-btn img {}

/* 제품 내용 그룹 */
.container .swiper .swiper-wrapper .swiper-slide .info {
    display:flex; flex-flow:column nowrap; justify-content:space-between;
    text-align: left;
    height:95px;
}

/* 로고 + 이름 */
.container .swiper .swiper-wrapper .swiper-slide .info .top {}
.container .swiper .swiper-wrapper .swiper-slide .info .top .brand {
    margin-bottom:5px;
    color:rgba(0, 0, 0, 0.5);
}
.container .swiper .swiper-wrapper .swiper-slide .info .top .name {
    line-height:1.5rem;
}

/* 할인 + 가격 */
.container .swiper .swiper-wrapper .swiper-slide .info .bottom {}
.container .swiper .swiper-wrapper .swiper-slide .info .bottom .original-price {
    text-decoration: line-through;
    color:rgba(0, 0, 0, 0.4);
    margin-bottom:5px;
    font-size:0.813rem;
}
.container .swiper .swiper-wrapper .swiper-slide .info .bottom span {
    font-size:1.125rem;
    font-weight:600;
}
.container .swiper .swiper-wrapper .swiper-slide .info .bottom .price .sale-percent {
    color:#FF3232; margin-right:5px;
}
.container .swiper .swiper-wrapper .swiper-slide .info .bottom .price .sale-price {}
/* -----------------------------------------main end */
