/* index.css 메인화면 작업 */
/* header */
body, html {margin:0; padding:0;}
/* 잠깐만 가리고 지울거 */
main {
    z-index: 1;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size:3.438rem;
    font-weight:500;
    letter-spacing:0;
}

/* ====================================================================================main s */
/* section 공통 */
#new, #kids, #sale, #sns, #ectivity {text-align:center; padding:60px 0;}
/* --------------------------------s - 카테고리 + MORE 공통 */
/* 카테고리 영역 */
.category {display:flex; justify-content:center; margin:40px auto; gap:30px;}
.category li {}
.category .tap {
    position: relative;
    font-size:1.25rem;
    line-height:40px; height:40px;
}
.category .tap::after {
    content: "";/* 가짜속성에서 보일려면 무조건 필요함 */
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:1px;
    background-color:#000;
    /* display:none; -> 넣으면 transform속성이 안들어간다 */ 
    transform: scaleX(0);/* scale을 0으로 dislplay:none을 대신한다. */
    transform-origin:center;
    transition: transform 0.15s ease;
}
.category .tap:hover::after {
    transform: scaleX(1);
}

/* more버튼 영역 */
.more {
    line-height:39px;
    margin-top:88px;
    padding:0 33px;
    border:1px solid #000;
    font-size:0.938rem;
    display:inline-block;
}
.more:hover {
    background:#000; color:#fff;
    transition: all 0.3s ease;
}
/* 3,4행 more버튼 */
.event .left .more:hover {
    background:#fff; color:#000;
    transition: all 0.3s ease;
}
/* -------------------------------------------------e - 카테고리 + MORE 공통 */

/* -------------------------------------------------s - 제품 */
.container {}
.container .swiper {}
.container .swiper .swiper-wrapper {}
.container .swiper .swiper-wrapper .swiper-slide:first-child {}
.container .swiper .swiper-wrapper .swiper-slide {width:400px;}

.container .swiper .swiper-wrapper .swiper-slide .pd_img {
    position:relative;
    margin-bottom:15px;
    width:400px; height:400px;
}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3642B8;
    color: #fff;
    font-size: 0.7rem;
    padding: 7px 15px;
}
.container .swiper .swiper-wrapper .swiper-slide .pd_img a {}
.container .swiper .swiper-wrapper .swiper-slide .pd_img a img {
    width:400px;
}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors {}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .colors .circle {}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .cart-btn {
    position: absolute;
    width:40px; height:40px;
    bottom: 14px;
    right: 14px
}
.container .swiper .swiper-wrapper .swiper-slide .pd_img .cart-btn img {}

.container .swiper .swiper-wrapper .swiper-slide .info {
    display:flex; flex-flow:column nowrap; justify-content:space-between;
    height:95px;
    text-align:left;
}
.container .swiper .swiper-wrapper .swiper-slide .info .top {}
.container .swiper .swiper-wrapper .swiper-slide .info .top .brand {
    color:rgba(0, 0, 0, 0.5);
    margin-bottom:5px;
}
.container .swiper .swiper-wrapper .swiper-slide .info .top .name {
    line-height:1.5rem
}
.container .swiper .swiper-wrapper .swiper-slide .info .bottom {}
.container .swiper .swiper-wrapper .swiper-slide .info .bottom .original-price {
    text-decoration: line-through;
    color:rgba(0, 0, 0, 0.4);
    margin-bottom:5px;
    font-size:0.813rem;
    margin-bottom:5px;
}
.container .swiper .swiper-wrapper .swiper-slide .info .bottom .price span {
    font-size:1.125rem; font-weight:600;
}
.container .swiper .swiper-wrapper .swiper-slide .info .bottom .price .sale-percent {
    color:#FF3232;
}
.container .swiper .swiper-wrapper .swiper-slide .info .bottom .price .sale-price {}


/* -------------------------------------------------e - 제품 */

/* ----------------------------------------------------------------------1행 광고 */
#ad {position:relative; padding:64px 0 0;}
#best {width:100%; height:745px;}
/* -----------------------------------------main start */
/* ------------------------1행*/
main #ad {position:relative; padding-top:64px;}
#best {width:100%; height:745px;}
#best .swiper-wrapper {}
#best .swiper-wrapper .swiper-slide {
    display:flex;
    flex-flow:column nowrap;/* 요소의 방향 위 -> 아래 */
    justify-content:center;/* 세로중앙 정렬 */
    align-items:center;/* 가로중앙 정렬 */
}
#best .swiper-wrapper .swiper-slide h2 ~ p {color:#fff;}
#best .swiper-wrapper .swiper-slide h2 {
    color:#fff;
    font-size:5rem;
    margin-bottom:16px;
}
#best .swiper-wrapper .swiper-slide p {
    font-size:1.25rem;
    font-weight:500;
}
#best .swiper-wrapper .swiper-slide .btn {
    font-size:1.25rem;
    padding:13px 40px;
    border:1px solid #fff;
    margin-top: 60px;
}
/* ad3 영역 */
#best .swiper-wrapper .ad3 h2 {color: #000;}
#best .swiper-wrapper .ad3 h2 ~ p {color: #000;}
#best .swiper-wrapper .ad3 .btn {border-color:#000;}

#best .swiper-wrapper .ad1 {background:url(../images/img_ad_001.jpg);}
#best .swiper-wrapper .ad2 {background:url(../images/img_ad_002.jpg);}
#best .swiper-wrapper .ad3 {background:url(../images/img_ad_003.jpg);}
#best .swiper-wrapper .ad4 {background:url(../images/img_ad_004.jpg);}
/* 화살표 좌 우 방향 작성 */
#best .swiper-button-prev {background:url(../images/icon_left.png);}
#best .swiper-button-next {background:url(../images/icon_right.png);}
#best .swiper-button-prev,
#best .swiper-button-next {
    width:50px; height:50px;
    position:absolute;
}
#best .swiper-button-prev::after,
#best .swiper-button-next::after {display:none;}

/* ----------------------------------------------------------------------2,6,7행 */

/* 초기값 */
.container .swiper {display:none;}
.container .man_swiper {display:block;}
.container .sports1_swiper {display:block;}

/* ----------------------------------------------------------------------3,4행 */
#season, #sportsset {
    height:690px;
    margin:60px 0;
}
#season {
    background:url(../images/bg_001.jpg) center/cover no-repeat;
}
#sportsset {
    background:url(../images/bg_002.jpg) center/cover no-repeat;
}

/* 왼쪽 */
.event {
    display:flex; justify-content:space-between;
    padding:90px 0 90px 150px;
}
.event .left {
    text-align:center;
    display:flex; flex-flow:column nowrap;
    justify-content:space-between;
    align-items:center;
}
.event .left .title {}
.event .left .title h2 {color:#fff; margin-bottom:15px;}
.event .left .title p {color:#fff; line-height:1.5;}
.event .left .category {
    display:flex; flex-flow:column;
}
.event .left .category li {}
.event .left .category .tap {
    color: #fff;
}
.event .left .category .tap::after {
    background-color:#fff;
}

/* more 버튼 */
.event .left .more {
    margin-top:0px;
    width:107px;
    color: #fff;;
    border-color:#fff;
}
/* 오른쪽 */
.event .container {width:1334px; overflow: hidden;}
.event .container .swiper .swiper-wrapper .swiper-slide .info .top .brand {
    color:rgba(255, 255, 255, 0.5);
}
.event .container .swiper .swiper-wrapper .swiper-slide .info .top .name {color:#fff;/* 제품 */}
.event .container .swiper .swiper-wrapper .swiper-slide .info .bottom {}
.event .container .swiper .swiper-wrapper .swiper-slide .info .bottom .original-price {
    color:rgba(255, 255, 255, 0.4);
}
.event .container .swiper .swiper-wrapper .swiper-slide .info .bottom .price span {font-size:1.125rem;}
.event .container .swiper .swiper-wrapper .swiper-slide .info .bottom .price .sale-percent  {color:#FF3232;}
.event .container .swiper .swiper-wrapper .swiper-slide .info .bottom .price .sale-price  {color: #fff;}

/* ----------------------------------------------------------------------5행 브랜드 */
#brand {margin:70px 100px;}
#brand .brand-go {display:flex; gap:40px; justify-content:center;}
#brand .brand-go a {
    width:870px; height:410px;
    position: relative;
}
#brand .brand-go a .info {position:absolute; top:110px; left:102px;}
#brand .brand-go a .info img {}
#brand .brand-go a .info h2 {color: #fff; margin:15px 0 10px; font-size:2.75rem;}
#brand .brand-go a .info p:nth-of-type(1) {color:#fff}
#brand .brand-go a .info p:nth-of-type(2) {
    background:#fff;
    width:134px; line-height:39px;
    text-align:center;
    margin-top:52px;
}
#brand .brand-go #brand-kiprun {background:url(../images/brand_bg_kiprun.jpg) center right;}
#brand .brand-go #brand-decathlon {background:url(../images/brand_bg_decathlon.jpg) center right;}

/* ----------------------------------------------------------------------8행 sns */
#sns h2 {margin-bottom:40px;}
#sns .sns_swiper {
    width:1780px;
}
#sns .sns_swiper .swiper-wrapper {}
#sns .sns_swiper .swiper-wrapper .swiper-slide {}
#sns .sns_swiper .swiper-wrapper .swiper-slide a {}
#sns .sns_swiper .swiper-wrapper .swiper-slide a img {}

#sns .sns_swiper .swiper-wrapper .swiper-slide .product {
    margin-top: 20px;
}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li {
    margin-bottom:10px;
    display:flex;
    align-items:center;
    gap:42px;
}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li:nth-child(2) {margin-bottom:0;}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .product-img {}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .product-img img {
    width:130px; height:130px;
}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .info {
    text-align:left;
    display:flex; flex-flow:column nowrap; gap:10px;
}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .info .top {}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .info .top .brand {
    color:rgba(0, 0, 0, 0.5);
    margin-bottom:5px;
}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .info .top .name {
    line-height:1.5;
    margin-top:5px;
}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .info .bottom {}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .info .bottom .original-price {
    text-decoration: line-through;
    color:rgba(0, 0, 0, 0.4);
    margin-bottom:5px;
    font-size:0.813rem;
    margin-bottom:5px;
}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .info .bottom .price {
    margin-top:5px;
}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .info .bottom .price span {
    font-size:1.125rem; font-weight:600;
}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .info .bottom .price .sale-percent {
    color:#FF3232;
}
#sns .sns_swiper .swiper-wrapper .swiper-slide .product li .info .bottom .price .sale-price {}

/* ----------------------------------------------------------------------9행 엑티비티 */

#ectivity h2 {margin-bottom:40px;}
#ectivity .ecti_swiper {}
#ectivity .ecti_swiper .swiper-wrapper {}
#ectivity .ecti_swiper .swiper-wrapper .swiper-slide {
    width:438px;
}
#ectivity .ecti_swiper .swiper-wrapper .swiper-slide a {
    position:relative;
    display: block;
    width: 438px;
    height: 576px;
    overflow: hidden;
}
#ectivity .ecti_swiper .swiper-wrapper .swiper-slide a img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.3s ease;
}
#ectivity .ecti_swiper .swiper-wrapper .swiper-slide a img:hover {
    transform: scale(1.1);
}
#ectivity .ecti_swiper .swiper-wrapper .swiper-slide a h3 {
    position:absolute;
    bottom:35px; left:33px;
    font-size:1.625rem;
    color:#fff;
    font-weight:600;
}

/* ----------------------------------------------------------------------10행 */
#story {padding:80px 0; background-color: #3743BB;}
#story .wrap {display:flex; justify-content:center; gap:16px;}
#story .wrap a {width:346px; height:155px; background:green; position:relative;}
#story .wrap a::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* 기본은 거의 투명 */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}
#story .wrap a:hover::before {opacity: 1;}
#story .wrap a:nth-child(1) {background:url(../images/img_story_001.jpg);}
#story .wrap a:nth-child(2) {background:url(../images/img_story_002.jpg);}
#story .wrap a:nth-child(3) {background:url(../images/img_story_003.jpg);}
#story .wrap a:nth-child(4) {background:url(../images/img_story_004.jpg);}
#story .wrap a .txt {
    position:absolute; left:27px; bottom:25px;
    z-index:100;
}
#story .wrap a .txt p:nth-of-type(1) {margin-bottom:10px; color:#fff;}
#story .wrap a .txt p:nth-of-type(2) {color:rgba(255, 255, 255, 0.6); text-decoration: underline;}
/* ====================================================================================main e */